a {
    list-style: none;
    text-decoration: none;
    color: white;
}
ul {
    font: 18px monospace;
    line-height: 35px;
}
body {
    width: 100%;
    background: rgba(0, 0, 0, 1);
    overflow: hidden;
}

.pm {
    box-shadow: rgb(179, 179, 179) 7px -7px 1.5px; 
    z-index: 1;
    background: rgba(0, 0, 0, 1);
    border: 3px rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 240px;
    left: 97px;
    border-radius: 60px;
}
.botella {
    box-shadow: rgb(179, 179, 179) 7px -7px 1.5px;
    background: rgba(0, 0, 0, 1);
    border: 3px rgba(0, 0, 0, 0.9);
    width: 200px;
    height: 200px;
    position: fixed;
    top: 315px;
    left: 35px;
    border-radius: 50px;
}
.botella ul li:hover {
    transform: scale(1.1);
    color: orange;
}

.gif {
    grid-area: gif;
    align-self: center;
    justify-self: center;
}
.cabezagif {
    grid-area: cabeza;
    font: 2.4em monospace;
    text-align: center;
}
.piegif {
    grid-area: pie;
    justify-self: center;
    font: 2.4em monospace;
}
.Inicio {
    font: 1.5em monospace;
    color: white;
    padding: 30px;
    grid-area: inicio;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
    ". cabeza"
    ". gif"
    ". pie";
}

.segpiel {
    grid-area: segpiel;
    justify-self: start;
}
.segpiel pre {
    font: 1.6em "Courier New";
}
span.naranja {
    color: orange;
}
span.gris {
    color: rgb(38, 38, 38);
}
@keyframes blinker {  
    50% { opacity: 0; }
}
#uno {
    animation: blinker 4s ease 0s infinite;
}
#dos {
    animation: blinker 4s ease 2s infinite;
}
#tres {
    animation: blinker 4s ease 4s infinite;
}
#cuatro {
    animation: blinker 4s ease 6s infinite;
}
#cinco {
    animation: blinker 4s ease 8s infinite;
}
.imgpiedra {
    grid-area: piedra;
    justify-self: start;
}
#textodos {
    grid-area: tdos;
    align-self: start;
    justify-self: start;
}
#textodos p {
    text-align: left;
    font: 27px "Courier New";
    color: black;
    background: orange;
}
.Ensamble {
    grid-area: ensamble;
    display: grid;
    background-color: black;
    color: white;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 40% 60%;
    grid-template-areas:
    "segpiel piedra ."
    ". tdos .";
}

.copaluno {
    grid-area: arbol;
    justify-self: center;
}
.copaldos {
    grid-area: texto;
    overflow: scroll;
    overflow-X: hidden;
    padding: 15px;
}
.copaldos p {
    width: 100%;
    text-align: justify;
}
.copaldos h1 {
    color: orange;
    font: 2.5em monospace;
    text-align: center;
}
.copaldos a img {
    align-self: center;
    justify-self: center;
    transition: scale 0.5s ease-in-out 0.5s;
}
.copaldos img:hover {
    transform: scale(2.2);
}
.Copallis {
    grid-area: copallis;
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    grid-template-rows: 500px 200px;
    grid-gap: 20px;
    grid-gap: 15px;
    grid-template-areas:
    ". arbol ."
    ". texto .";
}
.intro {
    grid-area: intro;
    justify-self: center;
}
.copalblanco {
    grid-area: cblanco;
    justify-self: end;
}
.copalnegro {
    grid-area: cnegro;
    justify-self: start
}
.intro pre {
    font: 3.3em monospace;
    text-align: center;
    color: white;
}
.intro pre strong {
    color: orange;
}
.Tienda {
    grid-area: tienda;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 400px;
    grid-template-areas:
    "intro intro intro intro intro intro"
    "cblanco cblanco cblanco cnegro cnegro cnegro"
}

.Biblioteca {
    grid-area: biblio;
    display: grid;
    background-color:  rgba(12,112,122, 1);
}

.Contacto {
    grid-area: contacto;
    display: grid;
}


.Lienzo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 725px 1750px 2175px 1450px 725px 725px;
    grid-template-areas:
    "inicio"
    "ensamble"
    "copallis"
    "tienda"
    "biblio"
    "contacto";
}

.Formulario iframe {
    width: 100%;
    height: 100%;
}
