a {
    list-style: none;
    text-decoration: none;
    color: white;
}
ul {
    font: 18px monospace;
    line-height: 35px;
}
body {
    width: 100%;
    background: rgba(0, 0, 0, 1);
    overflow: hidden;
}

.pm {
    box-shadow: rgb(179, 179, 179) 7px -7px 1.5px; 
    z-index: 1;
    background: rgba(0, 0, 0, 1);
    border: 3px rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 240px;
    left: 97px;
    border-radius: 60px;
}
.botella {
    box-shadow: rgb(179, 179, 179) 7px -7px 1.5px;
    background: rgba(0, 0, 0, 1);
    border: 3px rgba(0, 0, 0, 0.9);
    width: 200px;
    height: 200px;
    position: fixed;
    top: 315px;
    left: 35px;
    border-radius: 50px;
}
.botella ul li:hover {
    transform: scale(1.1);
    color: orange;
}

.gif {
    grid-area: gif;
    align-self: center;
    justify-self: center;
}
.cabezagif {
    grid-area: cabeza;
    font: 2.4em monospace;
    text-align: center;
}
.piegif {
    grid-area: pie;
    justify-self: center;
    font: 2.4em monospace;
}
.Inicio {
    font: 1.5em monospace;
    color: white;
    padding: 30px;
    grid-area: inicio;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
    ". cabeza"
    ". gif"
    ". pie";
}

.segpiel {
    grid-area: segpiel;
    justify-self: start;
}
.segpiel pre {
    font: 1.6em "Courier New";
}
span.naranja {
    color: orange;
}
span.gris {
    color: rgb(38, 38, 38);
}
@keyframes blinker {  
    50% { opacity: 0; }
}
#uno {
    animation: blinker 4s ease 0s infinite;
}
#dos {
    animation: blinker 4s ease 2s infinite;
}
#tres {
    animation: blinker 4s ease 4s infinite;
}
#cuatro {
    animation: blinker 4s ease 6s infinite;
}
#cinco {
    animation: blinker 4s ease 8s infinite;
}
.imgpiedra {
    grid-area: piedra;
    justify-self: start;
}
#textodos {
    grid-area: tdos;
    align-self: start;
    justify-self: start;
}
#textodos p {
    text-align: left;
    font: 27px "Courier New";
    color: black;
    background: orange;
}
.Ensamble {
    grid-area: ensamble;
    display: grid;
    background-color: black;
    color: white;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 40% 60%;
    grid-template-areas:
    "segpiel piedra ."
    ". tdos .";
}

.Copallis {
    grid-area: copallis;
    display: grid;
}

.Tienda {
    grid-area: tienda;
    display: grid;
    background-color: rgba(0, 0, 0, 1);
}

.Biblioteca {
    grid-area: biblio;
    display: grid;
    background-color:  rgba(12,112,122, 1);
}

.Contacto {
    grid-area: contacto;
    display: grid;
}


.Lienzo {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 725px 1750px 2175px 1450px 725px 725px;
    grid-template-areas:
    ". inicio"
    ". ensamble"
    ". coppalis"
    ". tienda"
    ". biblio"
    ". contacto";
}
.Formulario iframe {
    width: 100%;
    height: 100%;
}
